@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Background Colors */
  --background-color: #121212;
  --background-gray: #1e1e1e;
  --background-dark-slate: #2c2c2c;

  /* text Colors */
  --text-light-gray: #e0e0e0;
  --text-soft-white: #ffffff;
  --text-muted-cyan: #a0d0d0;

  /* Accent Colors */
  --accent-blue: #007acc;
  --accent-purple: #8a2be2;
  --accent-red: #ff6347;
  --accent-green: #32cd32;

  /* Seconday Colors */
  --secondary-gray: #4b4b4b;
  --accent-yellow: #ffd700;

  /* Border Colors */
  --border-dark-gray: #3a3a3a;
  --border-light-gray: #4d4d4d;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes fadeIn {
  0% {
    line-height: 0;
    opacity: 0;
  }
  100% {
    line-height: 1.5;
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes fadeInChildren {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  80% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes fadeOut {
  0% {
    line-height: 1.5;
    opacity: 1;
  }
  100% {
    line-height: 0;
    opacity: 0;
  }
}

@keyframes fadeOutChildren {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  20% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes darkModeToOff {
  0% {
    transform: translateX(0px);
    background-color: var(--background-gray);
    border-color: var(--text-light-gray);
  }
  100% {
    transform: translateX(-31px);
    background-color: var(--text-light-gray);
    border-color: var(--background-gray);
  }
}

@keyframes darkModeToOnBG {
  0% {
    background-color: var(--background-gray);
    border-color: var(--text-light-gray);
  }
  100% {
    background-color: var(--text-light-gray);
    border-color: var(--background-gray);
  }
}

@keyframes darkModeToOffBG {
  0% {
    background-color: var(--text-light-gray);
    border-color: var(--background-gray);
  }
  100% {
    background-color: var(--background-gray);
    border-color: var(--text-light-gray);
  }
}

@keyframes darkModeToOn {
  0% {
    transform: translateX(-31px);
    background-color: var(--text-light-gray);
    border-color: var(--background-gray);
  }
  100% {
    transform: translateX(0px);
    background-color: var(--background-gray);
    border-color: var(--text-light-gray);
  }
}

.toggle-dark-mode-off {
  animation: darkModeToOff 0.2s ease-in-out forwards;
}

.toggle-dark-mode-of-button {
  animation: darkModeToOff 0.4s ease-in-out forwards;
}

.toggle-dark-mode-on {
  animation: darkModeToOn 0.2s ease-in-out forwards;
}

.toggle-dark-mode-on-button {
  animation: darkModeToOn 0.4s ease-in-out forwards;
}

.toggle-dark-mode-on-bg {
  animation: darkModeToOnBG 0.2s ease-in-out forwards;
}

.toggle-dark-mode-off-bg {
  animation: darkModeToOffBG 0.2s ease-in-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out forwards;
}

.animate-fadeInChildren {
  animation: fadeInChildren 0.2s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.2s ease-in-out forwards;
}

.animate-fadeOutChildren {
  animation: fadeOutChildren 0.2s ease-in-out forwards;
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4b4b4b #1e1e1e; /* For Firefox */
}

/* For Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #4b4b4b; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b4b4b; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b4b4b; /* Thumb color on hover */
}
