@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    /* Background Colors */
    --background-color: #121212;
    --background-gray: #1E1E1E;
    --background-dark-slate: #2C2C2C;
    
     /* text Colors */
    --text-light-gray: #E0E0E0;
    --text-soft-white: #FFFFFF;
    --text-muted-cyan: #A0D0D0;

     /* Accent Colors */
    --accent-blue: #007ACC;
    --accent-purple: #8A2BE2;
    --accent-red: #FF6347;
    --accent-green: #32CD32;

     /* Seconday Colors */
    --secondary-gray: #4B4B4B;
    --accent-yellow: #FFD700;

     /* Border Colors */
    --border-dark-gray: #3A3A3A;
    --border-light-gray: #4D4D4D;
}
